*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
  color: white;
}
body{
  background-image: url('./image/quote-bg1.png') !important;
  background-repeat:no-repeat;
  background-size: cover;
}
.title{
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, white,#70d5ee);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  margin:200px 0 15px 0;
}
.btnclick{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 10px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  transition: 1s;
}
.btnclick:hover{
  background-color: #027fa2;
  transition: 1s;
  border:1px solid transparent;
}
.text{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.author{
  font-size: 14px;
  margin-top: 5px;
}